# Consul is the service catalog that helps discovery between the components
# Change "-bootstrap" to "-bootstrap-expect 3", then scale to 3 or more to
# turn this into an HA Consul raft.
consul:
  image: autopilotpattern/consul:latest
  command: >
    /usr/local/bin/containerpilot
    /bin/consul agent -server
    -bootstrap
    -config-dir=/etc/consul
    -ui-dir /ui
  restart: always
  mem_limit: 128m
  env_file: _env
  ports:
    - 8500
  dns:
    - 127.0.0.1
  labels:
    - triton.cns.services=docker-registry-consul
    - com.docker.swarm.affinities=["container!=~*"]

# Our Docker registry
registry:
  image: misterbisson/docker-registry-s3:latest
  restart: always
  mem_limit: 128m
  ports:
    - 5000
    - 9090
  env_file: _env
  environment:
    - CONSUL_AGENT=1
  labels:
    - triton.cns.services=docker-registry
    - com.docker.swarm.affinities=["container!=~*registry*"]

# Nginx as a load-balancing tier and reverse proxy
nginx:
  image: misterbisson/docker-registry-s3-nginx:latest
  restart: always
  mem_limit: 128m
  ports:
    - 80
    - 443
    - 9090
  env_file: _env
  environment:
    - CONSUL_AGENT=1
  labels:
    - triton.cns.services=docker-registry-nginx
    - com.docker.swarm.affinities=["container!=~*nginx*"]
